@font-face {
  font-family: gallowTree;
  src: url("GallowTree-Regular.otf"); /* Añadi fuente */
}
* {
  font-family: gallowTree;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* como queremos los enlaces a los niveles de dificultad */

nav {
  position: absolute;
  right: 0;
  margin-right: 2rem;
  margin-top: 2rem;
}
li {
  list-style: none;
}
li:last-of-type {
  margin-top: 1.5rem;
}
nav ul li a {
  display: block;
  color: antiquewhite;
  text-decoration: none;
}
/* al enlace de mayor dificultad lo denominamos rojo (dificil) */
#rojo {
  color: rgb(202, 31, 31);
}
/* para señalar que tienes el raton sobre los distintos enlaces del nav que señalan los niveles de dificultad */
nav a:hover {
  background-color: rgba(240, 218, 215, 0.6);
}

body {
  background: url(/IMG/ImgFondoFavo.jpg) repeat center; /* cambie foto */

  text-align: center;
  min-height: 80%;
}
fieldset > legend {
  color: aliceblue;
  font-weight: bold;
}
/* distintas clases para el body, se va cambiando acorde al numero de fallos la clase del body con distintos background imagenes. */
body.body1 {
  background: url(/IMG/ImgFondoFavo.jpg) repeat center; /* cambie foto */
}

body.body2 {
  background: url(/IMG/ImgFondoFallo1.jpg) repeat center; /* cambie foto */
}
body.body3 {
  background: url(/IMG/ImgFondoFallo2.jpg) repeat center; /* cambie foto */
}
body.body4 {
  background: url(/IMG/ImgFondoFallo3.jpg) repeat center; /* cambie foto */
}
body.body5 {
  background: url(/IMG/ImgFondoFallo4.jpg) repeat center; /* cambie foto */
}
body.body6 {
  background: url(/IMG/ImgFondoFallo5.jpg) repeat center; /* cambie foto */
}
body.body7 {
  background: url(/IMG/ImgFondoFallo6.jpg) repeat center; /* cambie foto */
}
h1 {
  margin: 0;
  color: rgb(202, 31, 31);
  font-family: gallowTree; /* Añadi fuente y color */
  font-size: 4rem; /* Añadi tamaño */
  text-align: center;
  padding: 5px;
}
/* Parrafo para que salte el texto de victoria/derrota al conseguir o no la palabra */
.ganaste {
  font-family: gallowTree;
  text-decoration: rgb(202, 31, 31) solid 2px underline;
  color: rgb(202, 31, 31);
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* Damos forma al texto que mostramos para la palabra oculta, el numero de intentos,y las letras falladas */
#output {
  font-size: 2.5rem;
  color: rgb(46, 66, 88);
  margin-top: 10rem;
  margin-bottom: 0;
  color: rgb(219, 222, 224);
}
#intentos {
  font-family: gallowTree;

  color: rgb(202, 31, 31);
  font-size: 20px;
  margin-top: 0;
}
#fallos {
  font-family: gallowTree;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.fieldset {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
  border: none;
}

/* cambiamos forma a nuestro gusto para el textarea */
#letra {
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;
  color: rgb(8, 10, 12);
  display: flex;
  flex-direction: row;
  text-size-adjust: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}

/* configuramos los botones de añadir letra/ pista/nueva palabra */
#botones {
  display: flex;
  justify-content: space-between;
}
#pop {
  margin-top: 0.4rem;
  max-width: 150px;
  background-color: rgba(123, 122, 222, 0);
  border: none;
  font-family: gallowTree;
  color: rgb(96, 10, 10);
  text-decoration: red 2px solid;
  font-weight: bold;
}
#add {
  border-radius: 25%;

  margin-top: 0.4rem;
  max-width: 150px;
  background-color: rgba(213, 213, 238, 0.65);
  border: none;
  font-family: gallowTree;
  color: rgb(96, 10, 10);
  text-decoration: red 2px solid;
  font-weight: bold;
}
#reset {
  margin-top: 0.4rem;
  max-width: 150px;
  background-color: rgba(123, 122, 222, 0);
  border: none;
  font-family: gallowTree;
  color: rgb(96, 10, 10);
  text-decoration: red 2px solid;
  font-weight: bold;
}
/* Parrafo con el que decoramos la racha de victorias del usuario */
#victorias {
  font-weight: bold;
  color: gold;
}
/* Creamos el footer con nuestros datos y lo fijamos al pie de pagina */
footer {
  position: absolute;
  bottom: 0.3rem;
  left: 3rem;
  right: 3rem;
  font-size: small;
}

/* Creamos las dos animaciones de victoria y derrota, las ocultamos en un parrafo y las mostramos y damos vida al ganar o perder */
@keyframes trofeo {
  from {
    transform: scale(1);
  }
  to {
    rotate: 5;
    transform: scale(1.5);
  }
}
.none {
  display: none;
}
.noGanasteAun {
  animation-name: trofeo;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.5, 0.75, 1.5, 2);
  animation-direction: alternate-reverse;
  animation-iteration-count: 8;

  margin: 0 auto;

  width: 90px;
  height: 90px;
  position: absolute;
  left: 40%;
}

@keyframes skull {
  from {
    transform: translateY(0);
    fill: rgb(4, 4, 4);
  }
  to {
    transform: translateY(6rem);
    fill: rgba(155, 155, 155, 0.8);
  }
}
.none1 {
  display: none;
}

.noGanasteAun1 {
  animation-name: skull;
  animation-duration: 4s;
  /* animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); */
  animation-direction: alternate-reverse;
  animation-iteration-count: 1;

  margin: 0 auto;

  width: 90px;
  height: 90px;
  position: absolute;
  left: 40%;
}

/* Clase para ocultar y poder mostrar con un click la pista asignada a la palabra */
.p_oculto {
  display: none;
}

/* Media querie para ajustar la posicion de las animaciones al cambiar tamaño pantalla */
@media (min-width: 750px) {
  .noGanasteAun {
    left: 46%;
  }
  .noGanasteAun1 {
    left: 46%;
  }
}

@media (max-height: 580px) {
  footer > p {
    display: none;
  }
}
